<footer class="w3-container w3-black">
        <div class="w3-row-padding">
            <div class="footer-column w3-col s12 m4">
                <p><strong>About</strong></p> 
                <p>Welcome to Code Crusaders - tech heroes on a bug-free quest! Fueled by a passion for algorithms, we script a brighter future. Join our byte-sized heroes rewriting innovation with humor and hexadecimal heroics. Every bug squashed is a victory, and every code line is genius!"</p>
            </div>

            <div class="footer-column w3-col s12 m4">
                <p><strong>Contact Us</strong></p> 
                <p>Email: info@codecrusaders.com</p>
                <p>Phone: +44 1234 567890</p>
                <p>Address: 123 Main Street, Cityville</p>
            </div>

            <div class="footer-column w3-col s12 m4">
                <p><strong>Quick Links</strong></p> 
                <p>Home</p>
                <p>About Us</p>
                <p>Team Members</p>
                <p>Contact Us</p>
            </div>
        </div>
        <hr>

        <div class="w3-animate-left"
            <p>&copy; 2023 The Code Crusaders. All rights reserved. Designed by Nathan Halter</p>
            <a href="#myNavbar" class="w3-button w3-transparent w3-display-right"><i class="fa fa-arrow-up"></i></a>
        </div>

</div>

</footer>