<!-- mymenu.html -->
<div class="w3-bar w3-white w3-card" id="myNavbar">
      <a href="{% url 'main' %}" class="w3-bar-item w3-button" style="height: 50px;">
        <img src="/static/w3images/CCLOGO.svg" alt="CCLOGO" style="height: 35px;">
    </a>
      <!-- Right-sided navbar links -->
      <div class="w3-right w3-hide-small" style="height: 50px;">
        <a href="{% url 'aboutus' %}" class="w3-bar-item w3-button" style="font-size: 20px;"><i class="fa fa-building"></i> About</a>
        <a href="{% url 'members' %}" class="w3-bar-item w3-button" style="font-size: 20px;"><i class="fa fa-user"></i>  Members</a> 
        <a href="#work" class="w3-bar-item w3-button" style="font-size: 20px;"><i class="fa fa-th"></i> Work</a>
        <a href="#pricing" class="w3-bar-item w3-button" style="font-size: 20px;"><i class="fa fa-usd"></i> Pricing</a>
        <a href="#contact" class="w3-bar-item w3-button" style="font-size: 20px;"><i class="fa fa-envelope"></i> Contact</a>
      </div>
      <!-- Hide right-floated links on small screens and replace them with a menu icon -->
  
      <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
        <i class="fa fa-bars fa-2x"></i>
      </a>
    </div>
  </div>
</div>
</div>
<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close X</a>
    <a href="{% url 'aboutus' %}" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
    <a href="{% url 'members' %}" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a>
    <a href="#work" onclick="w3_close()" class="w3-bar-item w3-button">WORK</a>
    <a href="#pricing" onclick="w3_close()" class="w3-bar-item w3-button">PRICING</a>
    <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
  </nav>

  <script>
    // Modal Image Gallery
    function onClick(element) {
      document.getElementById("img01").src = element.src;
      document.getElementById("modal01").style.display = "block";
      var captionText = document.getElementById("caption");
      captionText.innerHTML = element.alt;
    }
    
    
    // Toggle between showing and hiding the sidebar when clicking the menu icon
    var mySidebar = document.getElementById("mySidebar");
    
    function w3_open() {
      if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
      } else {
        mySidebar.style.display = 'block';
      }
    }
    
    // Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = "none";
    }
    </script>